*{
    font-family: Helvetica, Arial, sans-serif;
    background-color: gainsboro;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;
    align-items: stretch;
}

.left-image{
    flex: 1 1 0;
    display: grid;
    height: 100%;
}

.mountain{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.right-side{
    flex: 2 1 0;
    padding-top: 7%;
    padding-bottom: 5%;
}

.stock-photo{
    max-height: 100vh;
}

.mini-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form{
    background-color: white;
    padding-left: 7vh;
    border-bottom: 10px;
    border-color: white;

}

input, label {
    display:block;
    background-color: white;
    border-color: #E5E7EB;
}

label{
    font-size: small;
}

p{
    font-size: smaller;
}

button{
    height: 5vh;
    width: 22vh;
    background-color: #b56a6e;
    color: white;
    border-radius: 8px;
}

p, button{
    margin-left: 7vh;
}

.bottom{
    padding-top: 5vh;
}

.bottom-form{
    padding-bottom: 20px;
    background-color: white;
}

.top-text{
    padding-bottom: 7vh;
}

a{
    color: #b56a6e;
    text-decoration: none;
}

input{
    border-radius: 1px;
    box-shadow:0 0 15px 4px gainsboro;
    border: 0;
    background-color: white;
}